

@import "./Theme.scss";


$white-color: white;
$black-color: black;
$login_primary: #8864dd;
$input-border: #dee2e6;
$light_purple-bg:#9568fe52;

$primary-color: var(--primary-color);
$main-bg: var(--main-bg);
$txt-white: var(--txt-white);
$txt-black: var(--txt-black);
$button-bg: var(--button-bg);
$card-bg: var(--card-bg);
$card-after: var(--card-after);
$card-shadow: var(--card-shadow);
$card-content: var(--card-content);
$version: var(--version);
$footer-info: var(--footer-info);
$footer-heading: var(--footer-heading);